<div [ngClass]="!appErrService.alertFlag ? 'db-mt' : 'pt-3'" class="padding-bottom">
  <div class="container-fluid">
      <ng-container *ngIf="masterPageService.selectedCategory">
          <div class="row ">
              <div class="col-12">
                  <div class="row">
                      <div [ngClass]="processQueData.length ? 'col-md-12 col-sm-12' : 'col-md-6 col-sm-12'"
                           *ngIf="!masterPageService.hideControls.controlProperties?.inboundContainer?.Hidden">
                          <container-summary [inbContainerDisabled]="masterPageService.disabledContainer" [id]="'ClearContainer'"
                                             (emitContainerSummaryResponse)="getContainerSummaryResponse($event)" (emitCurrentOperationId)="setCurrentOperationId($event)"
                                             (emitcontainerID)="getinbContainerID($event)" (queList)="getQueuedSerialNumbers()"
                                             (receiptKey)="getSamplingDetails($event)" (emitSerialNumber)="getAutoPopulatedSerailNum($event)"
                                             (emitContainerSummaryProperties)="containerSummaryProperties($event)"
                                             (containerList)="getContainerList($event)" (clear)="Clear()" [uiData]="uiData">
                          </container-summary>
                      </div>
                  </div>
                  <div class="row" *ngIf="inboundProperties">
                      <div class="d-flex align-content-end flex-wrap" *ngFor="let header of headingsobj">
                          <div class="p-3" [ngClass]="inboundProperties[header]=='' ? 'pt-4':'p-3'">
                              {{header}} : <rmbadge [badgenumber]="inboundProperties[header]"></rmbadge>
                          </div>
                      </div>
                  </div>
                  <div class="row pt-2">
                      <div [ngClass]="processQueData.length ? 'col-md-6 col-sm-12': 'col-md-3 col-sm-12'"
                           *ngIf="!masterPageService.hideControls.controlProperties?.serialNumber?.Hidden ">
                          <div class="form-group">
                              <rmlabel [label]="'COMMON.SERIALNUMBER' | translate"
                                       [isAsterisk]="masterPageService.hideControls.controlProperties?.serialNumber?.Required"></rmlabel>
                              <rmtextbox [(ngModel)]="serialNumber" #serialNumberInput
                                         [disabled]="transactionService.disabledSerialNumber" [id]="'serialNumber'" [placeholder]="''"
                                         (enter)="validateTestSerialNumber($event,serialNumberInput)" (onChangeVal)="changeInput()"
                                         [requiredIf]="masterPageService.hideControls.controlProperties?.serialNumber?.Required"
                                         [printCloseIcon]="masterPageService.hideControls.controlProperties.printIcon?.Show" [divClass]="'input-group'"
                                         [printIconBtnDisabled]="isSerialNoPrintDisabled" (printEventEmit)="printSerialNo()" [uiData]="uiData" [isSerialNumber]="true"
                                         [textBoxPattern]="controlConfig?.barCodePattern"></rmtextbox>
                          </div>
                      </div>
                      <div [ngClass]="processQueData.length ? 'col-md-6 col-sm-12': 'col-md-3 col-sm-12'"
                           *ngIf="(!masterPageService.hideControls.controlProperties?.containerSuggestion?.Hidden)">
                          <div class="flex-fill">
                              <div class="card card-border">
                                  <div class="card-body  p-0">
                                      <container-suggestion *ngIf="controlConfig?.containerInputId"
                                                            [csLabel]="controlConfig?.containerInputId | translate"
                                                            [isAsterisk]="masterPageService.hideControls.controlProperties?.containerInputId?.Required"
                                                            [class]="'form-control'" [id]="'containerInputId'" (focusContainer)="getSuggestContainer($event)"
                                                            (emitContainerId)="getContainerId($event)" (validateContainerValue)="validateContainer($event)"
                                                            [inbContainerId]="inbContainerID" (emitContainerResponse)="containerResponse($event)"
                                                            (emitCheckContainer)="checkContainer($event)"
                                                            (emitvalidateContainer)="validateContainerResponse($event)"
                                                            (emitValidateContainerFailResponse)="emitValidateContainerFailResponse($event)" [uiData]="uiData">
                                      </container-suggestion>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>

          </div>
          <div class="row mt-3" *ngIf="masterPageService.operCategoryTests.length>0">
              <div class="col-sm-12 mb-3">
                  <div class="flex-fill">
                      <div class="card">
                          <div class="card-header test-header-bg">{{masterPageService.categoryName}}</div>
                          <div class="card-body  p-0">
                              <!-- <test-trans-grid [tests]="masterPageService.operCategoryTests" [isAutoDisabled]="isAutoDisabled"
                              [isManualDisabled]="isManualDisabled" [containerSummaryResponse]="inbContainerResponse"
                              [suggestedContainer]="suggestedContainerID" (emitTransactionItem)="addTestQueueData($event)"
                              [tesingDevice]="tesingDevice" (emitUpdatedDevice)="getTest($event)" (emitretestClicked)="retestClicked($event)"></test-trans-grid> -->
                              <div>
                                  <table class="table  testTable table-responsive" id="style-4">

                                      <ng-container *ngFor="let item of masterPageService.operCategoryTests; index as parentIndex;">
                                          <tbody>
                                              <tr
                                                   [ngClass]="({'resultPass': ((item?.DisplayProps?.RESULT == 'PASS' && appService.hideControls.transactionResult?.Show) || (item?.Status !== '' && item?.Status !== undefined && item?.Status !== null && showActiveOperationFlag)), 'resultFail': item?.DisplayProps?.RESULT == 'FAIL' && appService.hideControls.transactionResult?.Show})"
                                                  class="ml-2">
                                                  <!-- <th scope="col" *ngIf="item.Storerkey">
                                                        <rmbutton *ngIf="item.isEditable" [class]="'btn btn-default btn-sm mx-2'" [iconstyle]="item.toggle ? 'fas fa-minus' : 'fas fa-plus'"></rmbutton>
                                                </th> -->
                                                  <td>
                                                      <rmbutton *ngIf="item.ShowTestTransResults == 'Y'"
                                                                [id]="appService.getElementId(item.OperationId)"
                                                                [class]="'btn btn-round-black btn-sm mr-2'"
                                                                [iconstyle]=" item.isEditable ? 'fas fa-minus' : 'fas fa-plus'"
                                                                (onclick)="showTransResults(item)"></rmbutton>
                                                      <rmbutton *ngIf="item.Status == testStatus.retest"
                                                                [buttonname]="testBtnName.retest | translate"
                                                                [id]="appService.getElementId(testBtnName.retest,item.OperationId)"
                                                                [class]="'btn btn-round-black btn-sm'" [iconstyle]="'fa fa-recycle'"
                                                                (onclick)="updateBatchDetailsTrans('Y'); showAutoManual(item);"></rmbutton>
                                                      <ng-container *ngIf="item.TestType == 'M' || item.TestType == 'B'">
                                                          <rmbutton *ngIf="!item.isEditable && item.Status !== testStatus.retest"
                                                                    [buttonname]="controlConfig?.testBtnNameManual | translate"
                                                                    [id]="appService.getElementId(testBtnName.manual,item.OperationId)"
                                                                    [class]="'btn btn-round-black btn-sm'" (onclick)="getTransaction(item,parentIndex)"
                                                                    [iconstyle]="'fa fa-cogs'"
                                                                    [disabled]="transactionService.isManualDisabled  || item.Status == testStatus.noteligible">
                                                          </rmbutton>
                                                      </ng-container>
                                                      <rmbutton *ngIf="item.isEditable &&  item.Status !== testStatus.retest"
                                                                [buttonname]="testBtnName.done | translate" [id]="testBtnName.done"
                                                                [class]="'btn btn-round-black btn-sm mr-2'" [iconstyle]="'fa fa-check-circle'"
                                                                [disabled]="transactionService.isDoneDisabled" (onclick)="showManualProcessTest()">
                                                      </rmbutton>
                                                      <rmbutton *ngIf="(item.isEditable &&  item.Status !== testStatus.retest) && IsAllTestsCompleted"
                                                                [buttonname]="testBtnName.cancel | translate" [id]="testBtnName.cancel"
                                                                [class]="'btn btn-round-black btn-sm'" [iconstyle]="'fa fa-ban'"
                                                                (onclick)="transactionService.cancelTransaction(item,parentIndex)"></rmbutton>
                                                  </td>
                                                  <td
                                                      [ngClass]="transactionService.isManualDisabled  || item.Status == testStatus.noteligible ? 'text-muted' : ''"
                                                      class="tdwhiteSpace py-3">
                                                      {{item.OperationId}} &#8213; {{item.Description}}

                                                  </td>
                                                  <td class="tdwhiteSpace">
                                                      <!-- <rmbadge *ngIf="item.Clientid && item.Result != ''" [badgenumber]="item.Result"></rmbadge>&nbsp;&nbsp;
                                                    <rmbadge *ngIf="item.Clientid && item.IVCCode != ''" [badgenumber]="item.IVCCode"></rmbadge> -->

                                                      <div class="row  ml-3" *ngIf="displayProperites">
                                                          <div class="mr-2 d-flex align-content-end flex-wrap"
                                                               *ngFor="let header of displayPropheadingobj">
                                                              <div [ngClass]="displayProperites[header]=='' ? 'pt-1':''">
                                                                  {{header}} :
                                                                  <rmbadge [badgenumber]="displayProperites[header]"></rmbadge>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </td>
                                                  <!-- <td *ngIf="item.Clientid && item.Status == 'RETEST'" class="tdwhiteSpace">
                                                 <span class="badge badge-success">{{item.IVCCode}}</span>
                                                  <rmbadge  *ngIf="item.Clientid && item.Status == 'RETEST'" [badgenumber]="item.IVCCode"></rmbadge>
                                                </td>-->

                                              </tr>
                                          </tbody>
                                          <tbody class="testing-dynamic-panel-dropdown" id="tableScroll"
                                                 [ngClass]="transactionService.transactions.length > 0 ?'dynamicscroll':''"
                                                 *ngIf="transactionService.transactions.length > 0 ">
                                              <ng-container *ngIf="item.isEditable">
                                                  <tr class="noBorder align-middle p-2 ml-4"
                                                      *ngFor="let transaction of transactionService.transactions; index as i" [id]="i">
                                                      <!--<td width="20%">{{transaction.Description}}</td> -->
                                                      <td></td>
                                                      <td class="pl-2 py-0" colspan="4" *ngIf="transaction.TransControls.length > 0 ">
                                                          <dynamicpanel [questionwidth]="'questionwidth'" [setrowPadding]="'set-width'"
                                                                        [title]="'Testing'" [setContainer]="'container-fluid px-2'"
                                                                        [setDynamicpanelDescMaxwith]="'dynamic-desc-maxwidth-testing'"
                                                                        [setDynamicPanelBorder]="'dynamicpanel-border'" [dynamicFormClass]="'form-inline'"
                                                                        [cards]="transaction"
                                                                        (cardlistChange)=getTransAtrributeValues(transaction,$event,i,item,parentIndex)>
                                                          </dynamicpanel>
                                                      </td>
                                                      <!-- <td></td> -->
                                                  </tr>
                                              </ng-container>
                                          </tbody>
                                      </ng-container>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="mt-4 clearfix">

                      <rmbutton [class]="'btn btn-round-black mr-1 float-right'"
                                *ngIf="!masterPageService.hideControls.controlProperties?.moveBatch?.Hidden" [id]="'moveContainer'"
                                [disabled]="(isSaveDisabled && serialNumber=='') ? isMoveDisabled :true"
                                [buttonname]="moveBatchButton | translate" (onclick)="moveBatch()" [iconstyle]="moveBatchButton === commonEnum.MOVEBATCH ? 'fa fa-plus' : 'fa fa-archive'">
                      </rmbutton>
                      <rmbutton [class]="'btn btn-round-black mr-1 float-right'" [disabled]="isSaveDisabled"
                                [buttonname]="'COMMON.SAVE'| translate" [id]="'save'" (onclick)="validateAndUpdateDevice()"
                                [iconstyle]="'far fa-save'"></rmbutton>
                      <rmbutton [class]="'btn btn-round-black mr-1 float-left'" [id]="'Clear'" [disabled]="isTestsClearDisabled"
                                [buttonname]="'COMMON.CLEAR'| translate" (onclick)="serialNumberClear()"
                                [iconstyle]="'fas fa-times-circle'"></rmbutton>
                  </div>
              </div>
          </div>

      </ng-container>
  </div>

  <button hidden id="stopProcessQueue"></button>


</div>

<ng-template #failedDevicemodal>

  <h4 mat-dialog-title cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".cdk-overlay-container">
    {{modeltitle|translate}}
    <button mat-icon-button (click)="masterPageService.hideDialog()">
      <xpo-icon iconName="clear"></xpo-icon>
    </button>
  </h4>
  <xpo-dialog-content>
  <div class="modal-body">
    <div class="form-group position-relative">
      <div class="row mx-auto">
        <div class="container">
          <move-batch-failed-serialnumbers [title]="title | translate" [gridData]="failedDevicesData"  [batchStatus]="batchStatus"
          [inboundContainerId]="inbContainerID" (emitCloseSamplingBatch)="closeSamplingBatch()">
        </move-batch-failed-serialnumbers>
        </div>
      </div>
    </div>
  </div>
</xpo-dialog-content>

</ng-template>
