@font-face {
  font-family: 'Roboto Wide Black';
  font-style: normal;
  font-weight: 900;
  src: url('https://xpodotcom.azureedge.net/xpo/files/roboto-wide--black.woff2') format('woff2'),
    url('https://xpodotcom.azureedge.net/xpo/files/roboto-wide--black.woff') format('woff');
}
