<div class="col-md-12 col-sm-12 p-0">
    <fieldset class="esn-fieldset m-0">
        <legend class="esn-legend">{{'DEVICEMANAGEMENT.SOFTWAREVERSION' | translate}}</legend>
        <div class="row">
            <div class="col-md-6">
                <rmlabel [label]="'M_RECEIVING.SOFTWAREVERSION' | translate"></rmlabel>
                <div class="mb-2">
                    <rmtextbox name="softwareVersion" [(ngModel)]="softwareVersion" [id]="'softwareVersion'"
                        [textBoxPattern]="controlConfig.softwareVersion" [disabled]="isDisabledSoftwareVersion"
                        [errorMessage]="appService.getErrorText('2660079')"
                        [placeholder]="''" (enter)="validateSoftwareVersion()">
                    </rmtextbox>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row mt-3 mb-4">
        <div class="col-sm-6 col-lg-6 col-md-6 col-6">
            <rmbutton [class]="'btn btn-round-black mr-1 float-left'" [id]="'Clear'" [disabled]="isClearDisabled"
                [buttonname]="'COMMON.CLEAR' | translate" [iconstyle]="'fas fa-times-circle'"
                (onclick)="softwareVersionClear();"></rmbutton>
        </div>
        <div class="col-sm-6 col-lg-6 col-md-6 col-6">
            <rmbutton [class]="'btn btn-round-black mr-1 float-right'" [id]="'routeProcess'" (onclick)="process()"
                [disabled]="isProcessDisabled" [buttonname]="'DEVICEMANAGEMENT.PROCESS' | translate"
                [iconstyle]="'fas fa-cogs'">
            </rmbutton>
        </div>

    </div>
</div>