<div class="login-wrap-body p-4 mb-n4">
  <!-- <div class="mt-4 mb-1 progress-heading">{{'LOGIN.RESETPASSWORD' |translate}}</div>
  <div class="my-2">
    <span class="please-enter-your-un">{{'LOGIN.PLEASEENTERYOURUSERNAME' |translate}}</span>
  </div> -->
  <div class="col error-msg-section p-0">
    <span [ngClass]="appErrService.alertMsg? '':'d-none'">
      {{appErrService.alertMsg |translate}}
    </span>
  </div>
  <div class="mt-4 mb-1">
    <img class="text-bottom mt-n3" src="assets/images/RMx-logo.svg">
  </div>
  <form #forgotPwdForm="ngForm" (ngSubmit)="forgotPwd(forgotPwdForm.value)" novalidate>
    <div class="form-group mb-3 pb-2 forgot-psd">
      <label>{{'LOGIN.USERNAME'|translate}}</label>
      <input type="search" class="form-control searchIcon" autocomplete="off" name="UserName" id="UserName"
        #UserName="ngModel" [pattern]="userNamePattern" (input)="changeInput($event)" ngModel required>
      <div *ngIf="!UserName?.valid && (UserName?.dirty || UserName?.touched)">
        <span class="error-text" *ngIf="UserName.errors?.required">
          Username Required
        </span>
        <span class="error-text" *ngIf="UserName.errors?.pattern">
          Alphabets only
        </span>
      </div>
    </div>
    <div class="text-center">
      <button class="col" mat-flat-button xpoSmallButton color="primary" type="submit"
        [disabled]="!forgotPwdForm.valid">{{'LOGIN.SEND'|translate}}</button>
    </div>

    <div class="col text-center mt-4">
      <span class="forgot-password-cli"><a (click)="backToLogin()">{{'LOGIN.BACKTOLOGIN'|translate}}</a>
      </span>
    </div>
  </form>
</div>
