.text-bg-color {
  background: #cccccc;
  padding: 5px;
}

.dot-on-box-div{
  background-color: #eee;
  display: grid;
}

.dot-on-box {
  width: 55px;
  height: 55px;
  margin: 0 auto;
  border-radius: 50px;
  border: 1px #bdbdbd solid;
  margin-top: 5px;
}
