/* You can add global styles to this file, and also import other style files  */

@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/material-icons/iconfont/material-icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@xpo/ngx-core/styles/variables';

.rmTextbox:focus {
  /*  background-color: yellow; */
  border: 1px solid red !important
}

html,
body {
  /* position: relative; */
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 13px;
  letter-spacing: .7px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.mat-drawer-container {
  z-index: unset !important; //for dashboard popup
  background-color: #f3f3f3;
  color: #4a4a4a;
}

.main-container {
  padding: 15px 0px;
  background: #fff;
  margin: 10px 15px;
  border: 1px #dfdfdf solid;
  height: calc(100% - 0px);
  overflow-x: hidden;
  overflow-y: auto;
}

.main-container::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

.main-container::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 1px solid #555555;
  border-radius: 5px;
}

.cdk-overlay-backdrop {
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: opacity .1s cubic-bezier(.25, .8, .25, 1) !important;
  transition: opacity .1s cubic-bezier(.25, .8, .25, 1) !important;
}

// ========================== form controls section start =======================
// Reference: https://zeroheight.com/22c342678/v/latest/p/985919-inputs-and-forms
// ================================ inputs start ================================

.form-control {
  color: #555;
  border-radius: 0;
  // height: 32px;
  padding: 4px;
  line-height: 24px;
  text-indent: 7px;
}

// ================================inputs end =====================================
//================================ form controls section end ======================

// =============================== RMx Header Section Start ========================
rmx-shell .xpo-Header {
  border-bottom: 2px solid #dfdfdf !important;
  .xpo-Header-appName{
    cursor: pointer;
  }
  .xpo-Header-actions {
    font-size: 14px;
    font-weight: 600;

    .user-logout,
    .apps {
      font-size: 20px;
      margin-right: 24px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.mat-drawer-content {
  padding: 0px !important;
}

.xpo-Popover-caret--horizontalCenter .xpo-Popover-caret {
  left: 95% !important;
}

.cdk-overlay-connected-position-bounding-box {
  margin-right: -20px !important;
}

//================================= RMx Header Section End ======================

//================================= RMx Body Section Start ======================



//================================= RMx Header Section End ======================


//================================= RMx Form Controls Section Start ======================
// .mat-form-field {
//   width: 100%;
// }

// .mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
//   background-color: rgb(255 255 255);
//   border: 1px solid rgb(216 216 216);
//   height: unset;
//   margin-bottom: 1.25em;
//   margin-top: 1.6em;
//   padding: 0;
//   top: 0;
//   transition: box-shadow .1s ease-in-out;
// }

// .mat-focused .mat-form-field-wrapper {
//   border-color: rgb(8 104 172) !important;
//   box-shadow: 0 0 4px 0 #0868ac;
// }

// mat-form-field.mat-form-field-appearance-legacy .mat-form-field-infix {
//   border: none;
//   padding-left: 0.25em;
//   padding-right: 0.25em;
//   height: 32px;
//   border: 1px #ddd solid;
// }

// input.mat-input-element {
//   line-height: 20px;
//   text-indent: 10px;
// }

//================================= RMx Form Controls Section End ======================


//================================= RMx Titels Section Start ======================


rmx-shell .xpo-TabDrawer-container {
  .rmx-Shell-ribbon {
    color: #5E5E5E;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    padding: 6px 15px;
    text-transform: capitalize;
    border-top: none;
    justify-content: center;
    position: relative;
    align-items: center;

    .actions{
      right: 16px;
      justify-content: end;
      position: absolute;
    }
  }
}


//================================= RMx Titels Section End ======================


//================================= RMx xpo-Popover Section Start ======================

.cdk-overlay-pane {
  .xpo-Popover--below {
    top: 10px;
  }

  .xpo-Popover-caret--horizontalCenter .xpo-Popover-caret {
    left: 86% !important;
  }

  .xpo-Popover--below .xpo-Popover-caret {
    top: -16px;
    transform: rotate(180deg) translateX(14px);
  }

  .xpo-Popover-wrapper {
    background-color: #fff;
    padding: 0 !important;
    position: relative;
    z-index: 2;
    min-width: 120px;
    border: 1px #6b6868 solid;
  }



}

//================================= RMx xpo-Popover Section End ======================

//=========================== Spinner Start ===========================================
// / Absolute Center Spinner /
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// / Transparent Overlay /
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

//=========================== Spinner Start ===========================================

// ============================  Dashboard submenu popup css start =================================
.dashboard-submenu-search {
  width: 33%;
  line-height: 20px;
  border-bottom: 1px #c2c2c2 solid;
  text-indent: 0px;

  .mat-form-field-infix {
    border: 0px !important;
  }
}


// ============================  Dashboard submenu popup css end =================================


// ============================  Mat-Dialog start =================================
.dialog-width-sm {
  width: 30%;
}

.dialog-width-md {
  width: 40%;
}

.dialog-width-lg {
  width: 60%;
}

.dialog-width-xl {
  width: 80%;
}

// ============================   Mat-Dialog  end =================================

.required-red {
  border: 1px solid red !important;
}

/*grid row view */
.grid-row-view-poperty {
  word-break: break-all !important;
}

label {
  color: #4A4A4A;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.75;
}

.labelBlack {
  opacity: 1.0 !important;
  color: rgb(0, 0, 0) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: 0px;
}

ol,
li {
  margin: 0;
}

.toggle-button-menu {
  font-size: 22px;
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

thead tr th a.text-nowrap {
  color: black;
}

/*Tab Panel */

a .nav-link {
  border: 0px;
}

/*login */
.login-wrap-body .form-control {
  line-height: 2em;
}

.progress-heading {
  height: 40px;
  color: #454545;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.88px;
  line-height: 40px;
}

.forgot-password-cli {
  height: 22px;
  color: #0A5FBE;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  cursor: pointer;
}

.error-msg-section {
  height: 32px;
  line-height: 32px;
}

.error-msg-section span {
  display: block;
  font-size: 12px;
  background: #ffeeee;
  color: #d50000;
  font-weight: 500;
  text-align: center;
}

.red-border-class {
  border: 1px solid red;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(228, 120, 120, 0.25) !important;
}

/*login */
.nav-tabs{
  .nav-item{
    border: 1px #ddd solid;
    border-top: 3px #ddd solid;
    background: #fff;
    margin: 0 3px;
    padding: 5px 5px;
    border-bottom: 0;
    font-size: 14px;
    .nav-link {
      border: unset !important;
      font-weight: bold;
      color: #505050;
    }
  }
  .active{
    border-top: 3px #fd6133 solid;
    color: #000;
    border-bottom: 1px #fff;
    margin-bottom: -1px;
  }
}

.nav-tabs .nav-link.active {
  color: rgb(0, 0, 0);
  border-bottom: none !important;
  font-weight: bold !important;
  background-color: unset !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}

.nav-tabs .nav-link:hover {
  border-color: 0px #CC0000 !important;
  font-weight: bold !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;

}
 
.ul-tabs{
  margin: 5px !important;
  .nav-item {
    border-top: 0px !important;
    padding: 0px !important;
  }
  .nav-item .nav-link{
        border-top: 3px #ced4da solid !important;
  }
  .nav-link {
      border-top: 3px #ced4da solid !important;
      border-radius: 0 !important;
  }
  .nav-item .active {
          border-top: 3px #ff3a00 solid !important;
  }
  
  }
  .header-search{
    .mat-form-field-flex {
      align-items: center !important;
      line-height: 24px !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-infix{
      height: 24px;
      line-height: 16px;
    }
    .mb-searchtoggle input.mat-input-element {
      height: 1em !important;
    }
  }

// .xpo-Header-hamburger {
//   .xpo-icon:before {
//     font-family: "Font Awesome 5 Free";
//     content: "\f0c9";
//     display: inline-block;
//     padding-right: 3px;
//     vertical-align: top;
//     font-weight: 900;
//     font-size: 21px;
//     line-height: 24px;
//   }
// }

// .xpo-VerticalTab-groupIndicator{
//   .xpo-icon:before {
//     font-family: "Font Awesome 5 Free";
//     content: "\f054";
//     display: inline-block;
//     padding-right: 3px;
//     vertical-align: top;
//     font-weight: 900;
//     font-size: 18px;
//     line-height: 24px;
//   }
// }

.mat-tab-labels .mat-tab-label, .mat-tab-nav-bar .mat-tab-link {
  opacity: 1 !important;
  border: 1px #ddd solid !important;
  border-top: 3px #ddd solid !important;
  background: #fff !important;
  margin: 0 3px !important;
  padding: 5px 8px !important;
  border-bottom: 0 !important;
  font-size: 14px !important;
}
.mat-tab-labels .mat-tab-label:nth-child(1), .mat-tab-nav-bar .mat-tab-link:nth-child(1) {
  margin-left: 10px !important;
}
.mat-ink-bar{
  top: 0 !important;
  height: 3px !important;
}

/*Tab Panel end*/
/*Tab Panel end*/

/*Removing space under grid for grid pagination*/
.table {
  margin-bottom: .25rem;
}

/*End*/
/* radio Buttons*/
.form-check-inline .form-check-input:focus {
  outline-color: rgb(0 123 255);
}

/* radio Buttons*/

.header-wrap {
  position: absolute;
  width: 100%;
  left: 0;
  top: 6px;
  z-index: 100;
}

.clientstyles {
  background-color: #f4a688;
  font-size: 13px;
  color: black;
}

/* Container Border */
.groupbox {
  border: 2px solid lightgray;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}


// .main-container-noalert {
//   padding-top: 52px;

// }

.main-container-onalert {
  /* padding-top: 42px;   */
  padding-top: 0px;
}

/* custom button styles*/
.btn-round-black {
  background-color: #086BAC;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #086BAC;
  font-weight: bold;
}

.bg-export,
.bg-import {
  border: 1px #b5b5b5 solid !important;
  cursor: pointer;
}

.form-group-mb {
  margin-bottom: 0rem !important;
}

.btn-round-outline-black {
  background-color: #fff;
  color: #000;
  border-radius: 100px;
  border: 1px solid #000;
}

.btn-round-red {
  background-color: #CC0000;
  height: 36px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 0%;
  border: 2px solid #CC0000;
  padding: 8px 24px 8px 24px;
}

.btn-height {
  padding: 0.5rem .75rem !important;
}

.btn-outline-secondary {
  border-color: rgba(108, 117, 125, 0.3) !important;
}

.btn-export,
.btn-import {
  font-size: 22px;
  color: #828282;
  padding: 14px 12px;
  cursor: pointer;
}

/*.btn-round-red:hover{
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
    border: 1px solid #000;
}*/
.pointer {
  cursor: pointer;
}

/*badge*/
.badge-right {
  float: right;
}

/*In Receive Mobile View- labels and bages in center*/
.move-right {
  width: 43%;
  text-align: right
}

.move-left {
  width: 57%;
  text-align: left
}

/*confirm popup*/
.ques-icon {
  color: rgb(8, 104, 172);
  font-size: 40px !important;
  vertical-align: middle;
}

.m-fa-pen {
  color: rgb(8, 104, 172) !important;
}

.rm-card {
  border: 1px solid rgba(0, 0, 0, .125);
  background-color: #fff;
}

/*asterisk*/
.required {
  font-size: 9px;
  color: red;
}


/* grid pagination */
.pagnation-footer .ngx-pagination {
  padding: 0;
  margin: 0;
  text-align: center;
}

.ngx-pagination {
  margin-top: 5px;
  margin-bottom: 0px !important;
}

.ngx-pagination a:hover {
  border-radius: 15px;
}

.ngx-pagination .pagination-previous,
.ngx-pagination .pagination-previous :hover,
.ngx-pagination .pagination-next,
.ngx-pagination .pagination-next :hover {
  border-radius: 15px;
}

.ngx-pagination li.current {
  border-radius: 50%;
  background: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 0;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

/* table header */
.table-head-dark tr:first-child th {
  background: #000;
  color: #fff;
}

/*move eligible in testing*/
.table-bordered .tbl-left-border {
  border-left: 20px solid rgb(76, 175, 80);
}

/*SKU auto complete*/
.sku-autocomplete .dropdown.dropdown-menu {
  width: 100%;
}

.sku-autocomplete .dropdown-item {
  display: inline-block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  float: left;
}

.sku-autocomplete .dropdown-header {
  display: inline-block;
  width: 39%;
}

.sku-autocomplete .dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.typeaheadStyle .dropdown.dropdown-menu {
  width: 100%;
}

.typeaheadStyle .dropdown-item {
  display: inline-block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  float: left;
}

.typeaheadStyle .dropdown-header {
  display: inline-block;
  width: 39%;
}

.typeaheadStyle .dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.has-danger .form-control {
  border: 1px solid rgb(255, 0, 0);
}

.has-success .form-control {
  border: 1px solid rgb(0, 212, 0);
}

.btn:disabled,
.form-control:disabled,
.form-control[readonly] {
  cursor: not-allowed;
}

.test-header-bg {
  color: #fff;
  font-weight: bold;
  background-color: rgb(8, 104, 172);
}

.fqa-fa-times-circle {
  color: #ff471a;
}

.fqa-fa-check {
  color: rgb(0, 204, 0);
}

.multiselect-dropdown .dropdown-btn {
  padding: 5px 5px 5px 12px !important;
  border: 1px solid rgb(206, 212, 218) !important;
}

.multiselect-dropdown .dropdown-btn .selected-item:hover {
  box-shadow: none !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  border: 0 !important;
  margin-right: 0px !important;
  background: none !important;
  padding: 0 5px;
  color: rgb(0, 0, 0) !important;
  border-radius: 2px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 95%;
}

.multiselect-dropdown .dropdown-btn .dropdown-up {
  border-bottom: 6px solid rgb(173, 173, 173) !important;
  border-left: 6px solid rgba(0, 0, 0, 0) !important;
  border-right: 6px solid rgba(0, 0, 0, 0) !important;
}

.multiselect-dropdown .dropdown-btn .selected-item>a {
  color: rgb(204, 0, 0) !important;
  font-weight: 900;
}

.multiselect-dropdown .dropdown-btn .dropdown-down {
  border-top: 6px solid rgb(173, 173, 173) !important;
  border-left: 6px solid rgba(0, 0, 0, 0) !important;
  border-right: 6px solid rgba(0, 0, 0, 0) !important;
}

.multiselect-item-checkbox input[type=checkbox] {
  width: 0 !important;
}

.full-width-modal {
  max-width: 80% !important;
}

.fieldset-div {
  display: block;
  width: 100%;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border: 2px solid #cccccc;
  box-shadow: 2px 2px 8px #cccccc;
}

.legend-name {
  display: block;
  width: unset;
  max-width: 100%;
  padding: 2px 4px;
  margin-bottom: .5rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  white-space: normal;
  border-radius: 5px;
  background-color: rgb(8, 104, 172);

}

/* mat-select-css */
/* mat-select-css */
.mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin: 0px;
}

.mat-select-trigger {
  height: 1.75em;
  line-height: 1.75em;
}

.mat-select-panel {
  min-width: calc(100% + 8px) !important;
}

.mat-horizontal-stepper-header .mat-step-icon {
  display: none;
}

/* dynamic survey css start*/

.dynamic-survey .mat-horizontal-content-container {
  overflow: hidden;
  padding: 5px !important;
  border: 1px #b5b5b5 solid;
  max-height: 425px;
  overflow-y: auto;
}

.dynamic-survey .mat-step-header {
  width: 50%;
}

.dynamic-survey .mat-step-header:not(:first-child)::before {
  content: url("assets/images/next.png");
  margin-left: -30px;
  display: block;
  margin-top: 5px;
  opacity: .8;
  margin-right: 15px;
}

.dynamic-survey .mat-horizontal-stepper-header-container {
  border-radius: 0;
}

.dynamic-survey-controls-section .form-check-inline .form-check-input {
  width: 20px !important;
  height: 20px !important;
}

.dynamic-survey-controls-section .form-check .form-check-label {
  color: #000 !important;
  font-weight: 600;
}

.dynamic-survey-controls-section .align-baseline rmlabel {
  line-height: 2.5;
}

.dynamic-survey-controls-section .align-baseline .lable-padding {
  color: #000000;
  font-weight: 600;
}

.dynamic-survey-controls-section rmdropdown,
.dynamic-survey-controls-section rmtextbox {
  width: 100%;
}

.dynamic-survey-controls-section .checkbox {
  display: flex;
  align-self: center !important;
}

.dynamic-survey-controls-section .checkbox label {
  color: #000000;
  font-weight: 600;
  line-height: 2.5;
  margin-right: 10px;
  margin-bottom: 0;
}

.dynamic-survey-controls-section .checkbox .switch {
  margin-bottom: 0px !important;
  margin-top: 3px;
}

.dynamic-survey .mat-step-header.cdk-keyboard-focused,
.dynamic-survey .mat-step-header.cdk-program-focused,
.dynamic-survey .mat-step-header:hover {
  background-color: rgb(0 0 0 / 0%);
}

/* dynamic survey css end*/


/* Image Capture start*/

.image-process .mat-horizontal-content-container {
  border: 1px #ddd solid;
  padding-top: 15px;
}

.image-process .mat-horizontal-content-container {
  overflow: hidden;
  padding: 20px !important;
  border: 1px #b5b5b5 solid;
}

.image-process .mat-step-header {
  width: 50%;
}

.image-process .mat-step-header:not(:first-child)::before {
  content: url("assets/images/next.png");
  margin-left: -30px;
  display: block;
  margin-top: 5px;
  opacity: .8;
  margin-right: 15px;
}

.image-process .mat-horizontal-stepper-header-container {
  border-radius: 0;
}

.image-process .mat-horizontal-stepper-header {
  display: flex;
  height: 44px;
  overflow: hidden;
  align-items: center;
  padding: 0 24px;
  background: #fff;
}

.image-process .mat-step-header.cdk-keyboard-focused,
.image-process .mat-step-header.cdk-program-focused,
.image-process .mat-step-header:hover {
  background-color: #fff;
}

/* Image Capture end*/

.mat-horizontal-stepper-header-container {
  white-space: nowrap;
  display: flex;
  align-items: center;
  border: 1px #b5b5b5 solid;
  height: 45px;
  border-bottom: none;
  background: #efefef;
  border-radius: 5px 5px 0 0;
  position: relative;
}

[mat-flat-button].mat-flat-button,
[mat-raised-button].mat-raised-button,
[mat-stroked-button].mat-stroked-button {
  height: 32px !important;
  line-height: calc(32px - 0px) !important;
}

/* rearrange-modal-body popup css */

.rearrange-modal-body .mat-horizontal-content-container {
  overflow: hidden;
  padding: 5px 24px 0px 24px !important;
  border: 1px #b5b5b5 solid;
}

.rearrange-modal-body .mat-step-header .mat-step-label.mat-step-label-active {
  color: rgba(64, 64, 64, 0.87);
  font-weight: 600;
  font-size: 16px;
}

.rearrange-modal-body .mat-step-header .mat-step-label,
.mat-step-header .mat-step-optional {
  color: rgba(0, 0, 0, .54);
  font-size: 16px;
}

.rearrange-modal-body .mat-step-header {
  width: 100%;
  height: 44px !important;
}

.rearrange-modal-body .mat-step-header:nth-last-child(1) {
  border: none;
}

.rearrange-modal-body .mat-stepper-horizontal-line {
  display: none;
}

.rearrange-modal-body .mat-step-header .mat-step-label,
.mat-step-header .mat-step-optional {
  color: rgba(0, 0, 0, .54);
  font-size: 18px;
  opacity: 0;
}

.mat-step-header .mat-step-label.mat-step-label-selected {
  color: rgba(64, 64, 64);
  font-weight: 600;
  font-size: 18px;
  width: 80%;
  opacity: 1;
  z-index: 1;
}

.rearrange-modal-body .mat-horizontal-stepper-header {
  pointer-events: none !important;
  position: absolute !important;
}

.rearrange-modal-body .mat-horizontal-stepper-header .mat-step-icon {
  margin-right: 8px;
  flex: none;
  display: none;
}

.cdk-overlay-pane {
  transform: translateX(-15px) translateY(6px) !important;
}

.rearrange-modal-body .mat-table tbody {
  width: 100%;
  max-height: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
}

.rearrange-modal-body .mat-table tbody tr td {
  word-break: break-all !important;
}

.rearrange-modal-body .mat-table tbody::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 1px solid #555555;
}

.rearrange-modal-body .mat-table tbody::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

/* mat-select-css login page*/
.login-wrap .mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  border: none;
}

/* mat-select-css end*/

/* mat-expand-css customize for dock receiving start */
.mat-expansion-custom {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0px !important;
  border: none !important;
}

.mat-expansion-custom .mat-expansion-panel-body {
  padding: 0px !important;
}

.mat-expansion-custom .mat-expansion-panel-header {
  display: none;
}

.mat-expansion-custom .mat-expansion-panel-content {
  height: auto !important;
  visibility: visible !important;
}

/* mat-expand-css end*/

// @media screen and (max-width:767px) {

//   html,
//   body {
//     font-size: 12px;
//   }

//   .btn-round-black,
//   .btn-round-outline-black {
//     padding: .25rem .5rem;
//     font-size: .875rem;
//     line-height: 1.5;
//   }


//   #wrapper {
//     margin-left: 0%;
//     margin-top: 13%;
//   }

//   .noOperationCategory {
//     flex: 0 0 100%;
//   }

//   #left {
//     flex: 0 0 100%;
//     padding-right: 10px;
//   }

//   #right {
//     flex: 0;
//   }

//   .rearrange-modal-body .mat-table tbody {
//     min-width: 1024px !important;
//     max-width: 1024px !important;
//     overflow-x: scroll;
//     display: block;
//   }
// }

// .btn-round-black:disabled {
//   background-color: #E6E6E6;
//     border-color: #E6E6E6;
//     color: #9B9B9B;
//     height: 32px !important;
//     line-height: 32px !important;
// }

// .btn-round-black:enabled {
//   background-color: rgb(8, 104, 172);
//   color: #ffffff;
//   font-weight: normal;
// }
// .btn.disabled, .btn:disabled {
//   opacity: 1 !important;
// }
.autoResize {
  resize: none !important;
  max-height: 135px !important;
}

/*@media (min-width: 576px) {

  .btn-round-outline-black:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
  }

  .btn-round-black:hover:enabled {
    background-color: #fff;
    color: #000000;
    transition: all 0.5s;
  }
}*/

// modal width
.modal-md {
  max-width: 500px;
  margin: 1.75rem auto;
}
.modal-lg{
  max-width: 800px;
}
.modal-xl {
  max-width: 1140px;
}

/* Modal popup */

.modal-footer.bgfooter {
  background-color: rgb(8, 104, 172);
  color: white;
  padding: 9px;
}

.modal-header.bgheader {
  background-color: rgb(8, 104, 172);
  color: white;
  padding: 5px 12px;
}

.modal-header.bgheader h4 {
  font-size: 17px;
}

.xpo-DialogContent .sm-row .col-md-12 {
  flex: 0 0 50%;
}

.footer-bg {
  background-color: rgb(0, 0, 0) !important;
}

.ribbon-bg {
  background-color: #000000 !important;
  margin-top: 34px !important;


}

.ribbon-mobile-bg {
  background-color: #000000 !important;
  position: fixed;
  width: 100%;
  top: 0;
}

.ribbon-text {
  color: white !important;
  text-transform: uppercase;
  vertical-align: middle !important;
  display: inline-block;
  font-size: 13px;
}

.nav-bar-header {
  margin-top: 0px !important;
}


.resultPass {
  background-color: rgb(230, 255, 230);
}

.resultFail {
  background-color: rgb(255, 230, 230);
}

.accordion-cursor {
  cursor: pointer;
}

.fa-spinner {
  font-size: 20px;
  color: red;
}

/* table */

.table-head-color tr:first-child {
  background-color: #086BAC !important;
  color: #ffffff;
}

/* scroll for transactions part */

.dynamicscroll {
  display: block;
  /* max-height: 415px; */
  max-height: 394px;
  overflow: auto;
  border-top: unset;
}


/* showing barcode in multiple line */
.barcode {
  height: 67px !important;
  word-break: break-word;
  overflow-y: auto;
}

/*condition code*/
.condition-code {
  height: 45px !important;
  word-break: break-word;
  overflow-y: auto;
}

/*user logout option */
/*set user circle icon*/
.btn-circle {
  border: 1px solid #dddddd;
  border-radius: 1.25rem;
  background-color: transparent;
  color: #676161cc;
}

/*set background color dropdown item is active*/
.dropdown-item:active {
  background-color: transparent;
}

/*set background color dropdown item is hover*/
.option-text:hover {
  background-color: unset;
}

/*user logout option */


/*clearing the textbox content*/
.searchIcon {
  padding-right: 5px;
}

.searchIcon:focus::-webkit-search-cancel-button {
  position: relative;
  left: 3px;
  top: 0;
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 5px;
  background-image: url('./assets/images/clear.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* close icon on modal  */
.close {
  color: #fff !important;
  opacity: unset !important;
}

.dynamicpanel-border {
  /*  border:1px solid #cccccc; */
  box-shadow: 0px 1px 4px 0px #5189e9;
}


.not-valid {
  border: 1px solid rgb(255, 0, 0);
}

/*............material css.......*/
.xpo-Popover-caret-svg polygon {
  fill: #6b6868 !important;
}

.mat-form-field.mat-form-field-appearance-legacy.mat-form-field-should-float.mb-searchtoggle .mat-form-field-prefix~.mat-form-field-infix .mat-form-field-label {
  font-size: 0px !important
}

.mat-dialog-container{
  overflow: hidden !important;
  .mat-icon{
    color: #fff !important;
  }
  .scrollbar {
    max-height: 338px;
    overflow-y: scroll;
    margin: auto;
  }
}



/* custom css 10/03/19 Start*/

.mb-searchtoggle input.mat-input-element {
  height: 1.4em !important;
}

.nav-bar-header {
  height: 40px;
  line-height: 26px;
}

.xpo-logo[_ngcontent-ams-c2] img[_ngcontent-ams-c2] {
  width: auto;
  height: 24px;
}

.mobile-search {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  font-size: 16px;
  text-align: center;
  display: none;
}

.user-mobile-view {
  display: none;
}

.Popover-profile {
  min-width: 280px;
}

.Popover-profile .xpo-Popover-header {
  background-color: #4a4a4a !important;
  color: #f3f3f3 !important;
  font-size: 15px;
}

.user-pic {
  width: 22%;
  display: inline-block;
  font-size: 40px;
  text-align: center;
  background: #0868ac;
  border-radius: 50%;
  color: #fff;
}

.popover-user-details {
  display: block;
  height: 75px;
  border-bottom: 1px #cecece solid;
}

.popover-user-name {
  width: 78%;
  float: right;
  line-height: 23px;
  padding: 7px 10px 0 10px;
}

.Popover-profile p {
  padding: 5px;
  font-size: 14px;
}

.Log-Out-web {
  cursor: pointer;
}

.contentPadding {
  padding-left: 250px;
}

.nocontentPadding {
  padding-left: 0px;
}

.rm-color--error {
  background-color: #D50000 !important;
  color: #ffffff;
  border: 1px solid #D50000 !important;
}

.rm-color--sucess {
  background-color: #11A63B !important;
  color: #ffffff;
  border: 1px solid #11A63B !important;
}

.modal-content {
  border: 0px solid rgba(0, 0, 0, .2) !important;
}

.fa-lock-open {
  color: rgb(8, 172, 83);
  font-size: 17px;
}

.fa-lock {
  color: rgb(213, 0, 0);
  font-size: 17px;
}
.xpo-VerticalTab-children{
  .xpo-VerticalTab-title{
    font-weight: 500;
    color: #6f6f6f !important;
  }
}
.xpo-VerticalTab--is-child.xpo-VerticalTab--is-active .xpo-VerticalTab-title, .xpo-VerticalTab--is-child .xpo-VerticalTab-title:active {
  color: #fd6133 !important;
}
.xpo-VerticalTab--is-child .xpo-VerticalTab-title:hover {
  color: #ff3a00 !important;
}
.multiselect-dropdown .dropdown-btn {
  line-height: 1.75 !important;
}

#TrackingSection .btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
  background-color: #fff;
  color: #6c757d;
}

#TrackingSection .btn-outline-secondary:hover {
  color: #6c757d;
  background-color: #ffffff;
  border-color: #6c757d;
}

.sampling-details span {
  background: none;
  font-size: 13px;
  color: #444;
  margin-top: 0px !important;
}

.testing-dynamic-panel-dropdown .min-width-dropdown {
  min-width: 162px !important;
}

/* Receiving screen Type Style */
.custom-rm-round-btn {
  background: #0868ac;
  color: #fff;
  border-radius: 26px !important;
  padding: 5px 12px !important;
  font-size: 14px !important;
}

.divStyle {
  box-shadow: 0 0 5px #cccccc;
  border-left: 4px #2c90d6 solid;
  background: #f0f3fa;
  padding: 5px;
  border-radius: 4px;
  margin-top: 12px;
}

.custom-btn .btn-done {
  padding: 10px 6px !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  min-width: 45px;
  margin: 0 10px;
}

.qtyWidth-under {
  position: absolute;
  right: 17px;
  top: -3px;
  width: 23%;
  height: 20px;
  background: linear-gradient(-45deg, rgb(204, 0, 0), rgb(204, 0, 0) 49%, rgb(255, 255, 255) 49%, rgb(255, 255, 255) 51%, rgb(40, 167, 69) 51%);
  border-radius: 10rem;
  color: rgb(255, 255, 255);
}

.qty-rec-under {
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 600;
  width: 37px;
  text-align: center;
}

.qty-exp-under {
  position: absolute;
  top: 4px;
  right: 1px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 600;
  width: 37px;
  text-align: center;
}

// .btn:hover {
//   color: #ffffff;
//   text-decoration: none;
// }

.font-weight-boldest {
  font-weight: 800 !important;
}

.error-text {
  font-size: 12px;
  color: #CC0000;
  font-style: italic;
  font-weight: 400;
}

.slime-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px
}


.slime-scroll::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 1px solid #555555;
}

/*  Receiving screen Type Style*/
/*media Queries*/

@media(max-width: 767.98px) and (min-width: 360px) {

  // ======================== header section start =========================
  .xpo-logo {
    width: auto !important;
  }

  .time-location,
  .site-id {
    display: none;
  }

  // ======================== header section end =========================

  // ======================== heading section start =========================
  rmx-shell .xpo-TabDrawer-container .rmx-Shell-ribbon {
    font-size: 18px;
    height: 40px;
  }

  // ======================== heading section end =========================
  .main-container {
    padding: 10px 0;
    margin: 10px;
  }

  .error-msg-section span {
    line-height: 18px;
  }

  .mat-dialog-content {
    margin: 0 auto !important;
    min-width: 320px;
    max-width: 320px;
  }

  .mb-searchtoggle {
    position: absolute !important;
    top: 0;
    left: 10px;
    width: 86%;
    background: #fff;
    z-index: 1;
    display: none !important;
  }

  .mobile-search {
    display: block;
  }

  .messages {
    display: none;
  }

  .user-mobile-view {
    display: block;
  }

  .user-icon {
    display: inline-block;
    font-size: 32px;
    width: 48px;
    line-height: 38px;
  }

  .user-profile {
    display: block;
    line-height: 20px;
    text-align: left;
  }

  .xpo-logo img {
    width: 69% !important;
  }

  .mbsearchtoggle-show {
    display: block !important;
  }

  .mbsearchtoggle-hide {
    display: none !important;
  }


  .contentPadding {
    padding-left: 0px !important;
    margin-top: 34px !important;
  }

  .header-mt .nocontentPadding {
    padding-left: 0px !important;
    margin-top: 0px !important;
  }

  .header-mt .alt-mt {
    margin-top: 0px !important;
  }


  .testing-dynamic-panel-dropdown .min-width-dropdown {
    min-width: auto !important;
  }

  .floatRight {
    float: right !important;
  }

  .full-width-modal {
    max-width: 96% !important;
  }

  .rearrange-modal-body .mat-table tbody {
    min-width: 1024px !important;
    max-width: 1024px !important;
    overflow-x: scroll;
    display: block;
  }

  /* mat-expand-css customize for dock receiving start */
  .mat-expansion-custom {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 5px !important;
    border: 1px solid #D8D8D8 !important;
    margin-top: 15px !important;
  }

  .mat-expansion-custom .mat-expansion-panel-body {
    padding: 10px !important;
  }

  .mat-expansion-custom .mat-expansion-panel-header {
    display: flex;
  }

  .mat-expansion-custom .mat-expansion-panel-content {
    height: 0 !important;
    visibility: hidden !important;
  }

  .mat-expanded .mat-expansion-panel-content {
    height: auto !important;
    visibility: visible !important;
  }
  .dialog-width-sm {
    width: 100%;
    min-width: 320px;
    margin-left: 20px;
  }

  /* mat-expand-css end*/
}

@media (min-width: 767.98px) and (max-width: 1024px) {

  #tab-dockAck .col,
  #tab-main .col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  #tab-dockAck .qty {
    width: 16.33% !important;
  }


  .contentPadding {
    padding-left: 0px !important;
    margin-top: 34px !important;
  }

  .header-mt .nocontentPadding {
    padding-left: 0px !important;
    margin-top: 34px !important;
  }

  .header-mt .alt-mt {
    margin-top: 0px !important;
  }



  .testing-dynamic-panel-dropdown .min-width-dropdown {
    min-width: auto !important;
  }

  .full-width-modal {
    max-width: 96% !important;
  }

  .rearrange-modal-body .table-list {
    overflow-x: scroll !important;
  }

  .rearrange-modal-body .mat-table {
    min-width: 1280px !important;
  }
  .dialog-width-sm {
    width: 50%;
    min-width: 450px;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  .testing-dynamic-panel-dropdown .min-width-dropdown {
    min-width: 123px !important;
  }
}

@media (min-width: 1280px) and (max-width:1439.98px) {
  .testing-dynamic-panel-dropdown .min-width-dropdown {
    min-width: 140px !important;
  }
}

/* custom css 10/03/19 End*/
